## FIFA WORLD CUP QATAR 2022 WINNER

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df =  pd.read_csv("results.csv")

In [3]:
df["date"] = pd.to_datetime(df["date"])

In [4]:
df.isna().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [5]:
df.sort_values("date").tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
44336,2022-12-04,England,Senegal,3,0,FIFA World Cup,Al Khor,Qatar,True
44337,2022-12-05,Japan,Croatia,1,1,FIFA World Cup,Al Wakrah,Qatar,True
44338,2022-12-05,Brazil,South Korea,4,1,FIFA World Cup,Doha,Qatar,True
44339,2022-12-06,Morocco,Spain,0,0,FIFA World Cup,Al Rayyan,Qatar,True
44340,2022-12-06,Portugal,Switzerland,6,1,FIFA World Cup,Lusail,Qatar,True

In [6]:
df = df[(df["date"] >= "2010-8-1")].reset_index(drop=True)

In [7]:
df.home_team.value_counts()

home_team
Qatar            128
Mexico           126
United States    126
Japan            114
Bahrain          106
                ...
Saint Helena       1
Rhodes             1
Romani people      1
Aymara             1
Kabylia            1
Name: count, Length: 290, dtype: int64

In [10]:
rankings = pd.read_csv("fifa_ranking-2022-10-06.csv")
rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31
3,99,Latvia,LVA,10.0,0.0,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.0,0.0,0,CAF,1992-12-31

In [11]:
rankings["rank_date"] = pd.to_datetime(rankings["rank_date"])
rankings = rankings[(rankings["rank_date"] >= "2010-8-1")].reset_index(drop=True)

In [12]:
rankings["country_full"] = rankings["country_full"].str.replace("IR Iran", "Iran").str.replace("Korea Republic", "South Korea").str.replace("USA", "United States")

In [13]:
df_wc_ranked = df.merge(rankings[["country_full", "total_points", "previous_points", "rank", "rank_change", "rank_date"]], left_on=["date", "home_team"], right_on=["rank_date", "country_full"]).drop(["rank_date", "country_full"], axis=1)
df_wc_ranked.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points,previous_points,rank,rank_change
0,2010-08-11,Albania,Uzbekistan,1,0,Friendly,Durrës,Albania,False,455.0,455.0,70,-1
1,2010-08-11,Algeria,Gabon,1,2,Friendly,Algiers,Algeria,False,759.0,759.0,33,0
2,2010-08-11,Angola,Uruguay,0,2,Friendly,Lisbon,Portugal,True,357.0,356.0,87,1
3,2010-08-11,Armenia,Iran,1,3,Friendly,Yerevan,Armenia,False,318.0,318.0,96,0
4,2010-08-11,Austria,Switzerland,0,1,Friendly,Klagenfurt,Austria,False,536.0,536.0,60,0

In [14]:
df_wc_ranked = df_wc_ranked.merge(rankings[["country_full", "total_points", "previous_points", "rank", "rank_change", "rank_date"]], left_on=["date", "away_team"], right_on=["rank_date", "country_full"], suffixes=("_home", "_away")).drop(["rank_date", "country_full"], axis=1)
df_wc_ranked.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points_home,previous_points_home,rank_home,rank_change_home,total_points_away,previous_points_away,rank_away,rank_change_away
0,2010-08-11,Albania,Uzbekistan,1,0,Friendly,Durrës,Albania,False,455.0,455.0,70,-1,351.0,352.0,88,1
1,2010-08-11,Algeria,Gabon,1,2,Friendly,Algiers,Algeria,False,759.0,759.0,33,0,755.0,755.0,34,0
2,2010-08-11,Angola,Uruguay,0,2,Friendly,Lisbon,Portugal,True,357.0,356.0,87,1,1152.0,1152.0,6,0
3,2010-08-11,Armenia,Iran,1,3,Friendly,Yerevan,Armenia,False,318.0,318.0,96,0,517.0,522.0,65,1
4,2010-08-11,Austria,Switzerland,0,1,Friendly,Klagenfurt,Austria,False,536.0,536.0,60,0,940.0,940.0,17,-1

In [17]:
def result_finder(home, away):
    if home > away:
        return pd.Series([0, 3, 0])
    if home < away:
        return pd.Series([1, 0, 3])
    else:
        return pd.Series([2, 1, 1])

results = df.apply(lambda x: result_finder(x["home_score"], x["away_score"]), axis=1)
df[["result", "home_team_points", "away_team_points"]] = results

In [18]:
df = df_wc_ranked
df["rank_dif"] = df["rank_home"] - df["rank_away"]
df["sg"] = df["home_score"] - df["away_score"]
df["points_home_by_rank"] = df["home_team_points"]/df["rank_away"]
df["points_away_by_rank"] = df["away_team_points"]/df["rank_home"]

In [19]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points_home,...,previous_points_away,rank_away,rank_change_away,rank_dif,sg,result,home_team_points,away_team_points,points_home_by_rank,points_away_by_rank
0,2010-08-11,Albania,Uzbekistan,1,0,Friendly,Durrës,Albania,False,455.0,...,352.0,88,1,-18,1,0,3,0,0.034091,0.000000
1,2010-08-11,Algeria,Gabon,1,2,Friendly,Algiers,Algeria,False,759.0,...,755.0,34,0,-1,-1,1,0,3,0.000000,0.090909
2,2010-08-11,Angola,Uruguay,0,2,Friendly,Lisbon,Portugal,True,357.0,...,1152.0,6,0,81,-2,1,0,3,0.000000,0.034483
3,2010-08-11,Armenia,Iran,1,3,Friendly,Yerevan,Armenia,False,318.0,...,522.0,65,1,31,-2,1,0,3,0.000000,0.031250
4,2010-08-11,Austria,Switzerland,0,1,Friendly,Klagenfurt,Austria,False,536.0,...,940.0,17,-1,43,-1,1,0,3,0.000000,0.050000

In [20]:
home_team = df[["date", "home_team", "home_score", "away_score", "rank_home", "rank_away","rank_change_home", "total_points_home", "result", "rank_dif", "points_home_by_rank", "home_team_points"]]

away_team = df[["date", "away_team", "away_score", "home_score", "rank_away", "rank_home","rank_change_away", "total_points_away", "result", "rank_dif", "points_away_by_rank", "away_team_points"]]

In [21]:
home_team.head()

,date,home_team,home_score,away_score,rank_home,rank_away,rank_change_home,total_points_home,result,rank_dif,points_home_by_rank,home_team_points
0,2010-08-11,Albania,1,0,70,88,-1,455.0,0,-18,0.034091,3
1,2010-08-11,Algeria,1,2,33,34,0,759.0,1,-1,0.000000,0
2,2010-08-11,Angola,0,2,87,6,1,357.0,1,81,0.000000,0
3,2010-08-11,Armenia,1,3,96,65,0,318.0,1,31,0.000000,0
4,2010-08-11,Austria,0,1,60,17,0,536.0,1,43,0.000000,0

In [22]:
away_team.head()

,date,away_team,away_score,home_score,rank_away,rank_home,rank_change_away,total_points_away,result,rank_dif,points_away_by_rank,away_team_points
0,2010-08-11,Uzbekistan,0,1,88,70,1,351.0,0,-18,0.000000,0
1,2010-08-11,Gabon,2,1,34,33,0,755.0,1,-1,0.090909,3
2,2010-08-11,Uruguay,2,0,6,87,0,1152.0,1,81,0.034483,3
3,2010-08-11,Iran,3,1,65,96,1,517.0,1,31,0.031250,3
4,2010-08-11,Switzerland,1,0,17,60,-1,940.0,1,43,0.050000,3

In [23]:
home_team.columns = [h.replace("home_", "").replace("_home", "").replace("away_", "suf_").replace("_away", "_suf") for h in home_team.columns]

away_team.columns = [a.replace("away_", "").replace("_away", "").replace("home_", "suf_").replace("_home", "_suf") for a in away_team.columns]

In [24]:
home_team.head()

,date,team,score,suf_score,rank,rank_suf,rank_change,total_points,result,rank_dif,points_by_rank,team_points
0,2010-08-11,Albania,1,0,70,88,-1,455.0,0,-18,0.034091,3
1,2010-08-11,Algeria,1,2,33,34,0,759.0,1,-1,0.000000,0
2,2010-08-11,Angola,0,2,87,6,1,357.0,1,81,0.000000,0
3,2010-08-11,Armenia,1,3,96,65,0,318.0,1,31,0.000000,0
4,2010-08-11,Austria,0,1,60,17,0,536.0,1,43,0.000000,0

In [29]:
away_team['team']=='Argentina'

0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Name: team, Length: 187, dtype: bool

In [31]:
team_stats = pd.concat([home_team, away_team])
count_argentina = team_stats['team'].eq('Argentina').sum()
print(count_argentina)

2

In [27]:
team_stats.shape

(374, 12)

In [33]:
team_stats_raw = team_stats.copy()

In [34]:
team_stats.loc[(team_stats["team"] =='Argentina') & (team_stats["date"] < '2016-12-12')].sort_values(by=['date'], ascending=False)

,date,team,score,suf_score,rank,rank_suf,rank_change,total_points,result,rank_dif,points_by_rank,team_points
48,2010-11-17,Argentina,1,0,5,3,0,1353.0,0,2,1.000000,3
18,2010-08-11,Argentina,1,0,5,36,0,1288.0,1,31,0.083333,3

In [35]:
stats_val = []

for index, row in team_stats.iterrows():
    team = row["team"]
    date = row["date"]
    past_games = team_stats.loc[(team_stats["team"] == team) & (team_stats["date"] < date)].sort_values(by=['date'], ascending=False)
    last5 = past_games.head(5)
    
    goals = past_games["score"].mean()
    goals_l5 = last5["score"].mean()
    
    goals_suf = past_games["suf_score"].mean()
    goals_suf_l5 = last5["suf_score"].mean()
    
    rank = past_games["rank_suf"].mean()
    rank_l5 = last5["rank_suf"].mean()
    
    if len(last5) > 0:
        points = past_games["total_points"].values[0] - past_games["total_points"].values[-1]#qtd de pontos ganhos
        points_l5 = last5["total_points"].values[0] - last5["total_points"].values[-1] 
    else:
        points = 0
        points_l5 = 0
        
    gp = past_games["team_points"].mean()
    gp_l5 = last5["team_points"].mean()
    
    gp_rank = past_games["points_by_rank"].mean()
    gp_rank_l5 = last5["points_by_rank"].mean()
    
    stats_val.append([goals, goals_l5, goals_suf, goals_suf_l5, rank, rank_l5, points, points_l5, gp, gp_l5, gp_rank, gp_rank_l5])

In [36]:
stats_cols = ["goals_mean", "goals_mean_l5", "goals_suf_mean", "goals_suf_mean_l5", "rank_mean", "rank_mean_l5", "points_mean", "points_mean_l5", "game_points_mean", "game_points_mean_l5", "game_points_rank_mean", "game_points_rank_mean_l5"]

stats_df = pd.DataFrame(stats_val, columns=stats_cols)

full_df = pd.concat([team_stats.reset_index(drop=True), stats_df], axis=1, ignore_index=False)
#full_df['tournament']
stats_df

,goals_mean,goals_mean_l5,goals_suf_mean,goals_suf_mean_l5,rank_mean,rank_mean_l5,points_mean,points_mean_l5,game_points_mean,game_points_mean_l5,game_points_rank_mean,game_points_rank_mean_l5
0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
369,0.00,0.00,2.0,2.0,102.00,102.00,0.0,0.0,0.00,0.00,0.000000,0.000000
370,0.00,0.00,0.0,0.0,171.00,171.00,0.0,0.0,1.00,1.00,0.005848,0.005848
371,0.50,0.50,0.5,0.5,46.50,46.50,-41.0,-41.0,1.00,1.00,0.022661,0.022661
372,0.75,0.75,1.0,1.0,52.25,52.25,114.0,114.0,1.25,1.25,0.029727,0.029727
373,0.00,0.00,2.0,2.0,32.00,32.00,0.0,0.0,0.00,0.00,0.000000,0.000000

In [37]:
full_df.isna().sum()

date                          0
team                          0
score                         0
suf_score                     0
rank                          0
rank_suf                      0
rank_change                   0
total_points                  0
result                        0
rank_dif                      0
points_by_rank                0
team_points                   0
goals_mean                  158
goals_mean_l5               158
goals_suf_mean              158
goals_suf_mean_l5           158
rank_mean                   158
rank_mean_l5                158
points_mean                   0
points_mean_l5                0
game_points_mean            158
game_points_mean_l5         158
game_points_rank_mean       158
game_points_rank_mean_l5    158
dtype: int64

In [41]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
  print(full_df)

          date                    team  score  suf_score  rank  rank_suf
0   2010-08-11                 Albania      1          0    70        88  \
1   2010-08-11                 Algeria      1          2    33        34
2   2010-08-11                  Angola      0          2    87         6
3   2010-08-11                 Armenia      1          3    96        65
4   2010-08-11                 Austria      0          1    60        17
5   2010-08-11              Azerbaijan      1          1   105        85
6   2010-08-11                   Benin      0          0    61       145
7   2010-08-11                 Bolivia      1          1    50        36
8   2010-08-11            Burkina Faso      3          0    45       106
9   2010-08-11                    Chad      1          3   124        64
10  2010-08-11                China PR      1          1    77        68
11  2010-08-11                  Cyprus      1          0    63       201
12  2010-08-11          Czech Republic      4          1    31        49
13  2010-08-11                 Denmark      2          2    29         4
14  2010-08-11                 England      2          1     7        62
15  2010-08-11                 Estonia      2          1    94       118
16  2010-08-11                 Finland      1          0    51        48
17  2010-08-11                 Iceland      1          1    79       141
18  2010-08-11     Republic of Ireland      0          1    36         5
19  2010-08-11              Kazakhstan      3          1   125        81
20  2010-08-11             South Korea      2          1    44        30
21  2010-08-11               Lithuania      0          2    52        78
22  2010-08-11                  Malawi      1          1    74        93
23  2010-08-11                    Mali      0          2    55       102
24  2010-08-11              Mauritania      0          0   168       171
25  2010-08-11                  Mexico      1          1    25         1
26  2010-08-11                 Moldova      0          0    89       110
27  2010-08-11              Montenegro      2          0    73        59
28  2010-08-11                 Morocco      2          1    83       145
29  2010-08-11                  Norway      2          1    22        21
30  2010-08-11                  Panama      3          1    97        47
31  2010-08-11                Paraguay      2          0    15        53
32  2010-08-11                  Poland      0          3    56        40
33  2010-08-11                  Russia      1          0    16        43
34  2010-08-11            Saudi Arabia      1          0    70        75
35  2010-08-11                  Serbia      0          1    13        12
36  2010-08-11                Slovakia      1          1    27        14
37  2010-08-11                Slovenia      2          0    19        20
38  2010-08-11            South Africa      1          0    66        23
39  2010-08-11                  Sweden      3          0    35        41
40  2010-08-11                Tanzania      1          1   111       116
41  2010-08-11                Thailand      1          0   104       120
42  2010-08-11     Trinidad and Tobago      1          3    76        82
43  2010-08-11                  Turkey      2          0    28        42
44  2010-08-11                  Uganda      1          1    69        72
45  2010-08-11                 Ukraine      1          1    24         2
46  2010-08-11                   Wales      5          1    84       117
47  2010-09-15                   India      2          0   160       116
48  2010-11-17               Argentina      1          0     5         3
49  2010-11-17                 Austria      1          2    49        11
50  2010-11-17                Botswana      1          0    67        44
51  2010-11-17                Bulgaria      0          1    45        25
52  2010-11-17            Burkina Faso      2          1    41        47
53  2010-11-17                   Chile      2          0    16         7
54  2010-11-17                China PR      1          0    89        73
55  2010-11-17                Colombia      1          1    47        52
56  2010-11-17                 Croatia      3          0     9       169
57  2010-11-17                 Denmark      0          0    27        31
58  2010-11-17                 Ecuador      4          1    61        56
59  2010-11-17                   Egypt      3          0    10        20
60  2010-11-17                 England      1          2     6        21
61  2010-11-17                 Estonia      1          1    74       158
62  2010-11-17                   Gabon      1          2    37        75
63  2010-11-17               Guatemala      3          0   126        86
64  2010-11-17               Hong Kong      0          7   145        23
65  2010-11-17                 Hungary      2          0    43        46
66  2010-11-17                    Iraq      1          1    99       105
67  2010-11-17     Republic of Ireland      1          2    32        12
68  2010-11-17                  Israel      3          2    55       110
69  2010-11-17                   Italy      1          1    14        52
70  2010-11-17                 Jamaica      0          0    82        63
71  2010-11-17                   Libya      1          1    81       102
72  2010-11-17              Luxembourg      0          0   133        34
73  2010-11-17                  Malawi      2          1    77       127
74  2010-11-17              Montenegro      2          0    26        90
75  2010-11-17              Mozambique      1          3    98       117
76  2010-11-17             Netherlands      1          0     2        29
77  2010-11-17        Northern Ireland      1          1    42        80
78  2010-11-17                    Oman      0          4    97        40
79  2010-11-17                  Panama      2          0    64        57
80  2010-11-17                Portugal      4          0     8         1
81  2010-11-17                  Russia      0          2    13        62
82  2010-11-17            Saudi Arabia      0          0    68        17
83  2010-11-17                Slovakia      2          3    18        51
84  2010-11-17                Slovenia      1          2    15        78
85  2010-11-17            South Africa      0          1    50        24
86  2010-11-17                  Sweden      0          0    35         4
87  2010-11-17             Switzerland      2          2    21        36
88  2010-11-17              Tajikistan      1          0   149       195
89  2010-11-17                    Togo      0          0   107       147
90  2010-12-15                Malaysia      2          0   144       137
91  2011-01-12                   Qatar      2          0   105        79
92  2011-01-12              Uzbekistan      2          1   108        99
93  2011-06-29             Afghanistan      0          2   166       167
94  2011-06-29              Bangladesh      3          0   163       169
95  2011-06-29                Cambodia      4          2   174       174
96  2011-06-29                    Iraq      1          2    95       109
97  2011-06-29                Mongolia      1          0   179       167
98  2011-06-29                   Nepal      2          1   148       202
99  2011-06-29               Sri Lanka      1          1   171       159
100 2011-06-29                 Vietnam      6          0   140       183
101 2011-07-27                 Vanuatu      0          0   169       181
102 2011-08-24                  Guyana      2          1   114       158
103 2011-08-24                Thailand      0          0   120       129
104 2011-12-21                   Chile      3          2    13        24
105 2012-01-18                 Bahrain      0          2    95        17
106 2012-01-18                Thailand      0          1   124        24
107 2012-02-15                 Liberia      0          2   125        56
108 2012-02-15                Paraguay      2          0    27        12
109 2012-04-11              Costa Rica      1          1    59        61
110 2012-04-11                    Peru      0          3    34        13
111 2012-06-06        Papua New Guinea      1          1   193       161
112 2012-06-06         Solomon Islands      1          1   183       100
113 2012-08-08                  Zambia      2          1    44       106
114 2012-09-05                Cambodia      0          0   188       150
115 2012-09-05                  Jordan      0          0    87        54
116 2012-11-07                Thailand      2          0   152       163
117 2012-12-19                    Oman      2          0    95        75
118 2012-12-19               Singapore      3          1   154       136
119 2013-02-14                Maldives      3          0   159       170
120 2013-06-06                China PR      1          2    95        58
121 2013-06-06                 Hungary      1          0    33       111
122 2013-11-28                 Burundi      2          0   112       204
123 2013-11-28                Tanzania      1          1   124        72
124 2014-01-16            Burkina Faso      1          1    58        74
125 2014-01-16                Zimbabwe      0          0   105        87
126 2014-08-14               Guatemala      3          0   134       175
127 2015-03-12                Cambodia      3          0   181       187
128 2015-03-12             Timor-Leste      0          3   185       195
129 2015-03-12                   India      2          0   173       180
130 2015-03-12                   Yemen      3          1   175       170
131 2015-07-09                  Mexico      6          0    40       104
132 2015-07-09     Trinidad and Tobago      3          1    64       105
133 2015-09-03               Australia      5          0    61       173
134 2015-09-03              Azerbaijan      0          0   110        14
135 2015-09-03                 Belgium      3          1     2        30
136 2015-09-03                Bulgaria      0          1    68        69
137 2015-09-03                China PR      0          0    84       151
138 2015-09-03                  Cyprus      0          1    86         9
139 2015-09-03          Czech Republic      2          1    20       145
140 2015-09-03                    Iran      6          0    40       146
141 2015-09-03                  Israel      4          0    46       202
142 2015-09-03                   Italy      1          0    16       160
143 2015-09-03                   Japan      3          0    58       180
144 2015-09-03             South Korea      8          0    57       174
145 2015-09-03                  Kuwait      9          0   127       162
146 2015-09-03             Netherlands      0          1    12        23
147 2015-09-03                    Oman      3          1   100       149
148 2015-09-03             Philippines      2          0   125       177
149 2015-09-03                   Qatar     15          0    94       164
150 2015-09-03            Saudi Arabia      7          0    93       163
151 2015-09-03                   Syria      1          0   121       157
152 2015-09-03                Thailand      2          0   137       130
153 2015-09-03                  Turkey      1          1    46        90
154 2015-09-03    United Arab Emirates     10          0    70       169
155 2015-09-03              Uzbekistan      1          0    76       175
156 2015-11-05    United Arab Emirates      5          1    67       121
157 2015-12-03                Ethiopia      0          0   120        63
158 2015-12-03                  Rwanda      1          1   101       134
159 2016-06-02                 England      1          0    11         8
160 2016-06-02                    Laos      0          1   174       163
161 2016-06-02                Malaysia      3          0   173       177
162 2016-06-02                Maldives      0          2   174       178
163 2016-06-02              Seychelles      0          2   180        32
164 2016-06-02              Tajikistan      5          0   164       181
165 2017-03-09                   Qatar      1          2    84        89
166 2017-05-04            Burkina Faso      1          1    35        83
167 2017-06-01                    Iraq      1          0   120       109
168 2017-06-01                  Mexico      3          1    17        26
169 2017-06-01                 Nigeria      3          0    38       112
170 2017-06-01             Switzerland      1          0     9        83
171 2017-07-06                 Grenada      0          2   163       181
172 2018-01-18                  Uganda      0          1    73       111
173 2018-06-07                 England      2          0    12        23
174 2018-06-07                 Uruguay      3          0    14        95
175 2018-06-07                Portugal      3          0     4        66
176 2018-06-07             South Korea      0          0    57        59
177 2018-06-07                 Iceland      2          2    22        47
178 2018-06-07                   India      1          2    97       120
179 2018-07-01                  Russia      1          1    49         6
180 2018-07-01                 Croatia      1          1    12        15
181 2018-12-20                 Bahrain      5          0   113       120
182 2019-06-14                Cameroon      1          1    51        62
183 2019-06-14              Madagascar      1          3   108       103
184 2019-06-14                  Brazil      3          0     3        62
185 2021-05-27                  Turkey      2          1    29       110
186 2021-11-19               Sri Lanka      3          3   204       197
187 2010-08-11              Uzbekistan      0          1    88        70
188 2010-08-11                   Gabon      2          1    34        33
189 2010-08-11                 Uruguay      2          0     6        87
190 2010-08-11                    Iran      3          1    65        96
191 2010-08-11             Switzerland      1          0    17        60
192 2010-08-11                  Kuwait      1          1    85       105
193 2010-08-11                   Niger      0          0   145        61
194 2010-08-11                Colombia      1          1    36        50
195 2010-08-11                   Congo      0          3   106        45
196 2010-08-11                 Tunisia      3          1    64       124
197 2010-08-11                 Bahrain      1          1    68        77
198 2010-08-11                 Andorra      0          1   201        63
199 2010-08-11                  Latvia      1          4    49        31
200 2010-08-11                 Germany      2          2     4        29
201 2010-08-11                 Hungary      1          2    62         7
202 2010-08-11           Faroe Islands      1          2   118        94
203 2010-08-11                 Belgium      0          1    48        51
204 2010-08-11           Liechtenstein      1          1   141        79
205 2010-08-11               Argentina      1          0     5        36
206 2010-08-11                    Oman      1          3    81       125
207 2010-08-11                 Nigeria      1          2    30        44
208 2010-08-11                 Belarus      2          0    78        52
209 2010-08-11                Botswana      1          1    93        74
210 2010-08-11                  Guinea      2          0   102        55
211 2010-08-11               Palestine      0          0   171       168
212 2010-08-11                   Spain      1          1     1        25
213 2010-08-11                 Georgia      0          0   110        89
214 2010-08-11        Northern Ireland      0          2    59        73
215 2010-08-11       Equatorial Guinea      1          2   145        83
216 2010-08-11                  France      1          2    21        22
217 2010-08-11               Venezuela      1          3    47        97
218 2010-08-11              Costa Rica      0          2    53        15
219 2010-08-11                Cameroon      3          0    40        56
220 2010-08-11                Bulgaria      0          1    43        16
221 2010-08-11                    Togo      0          1    75        70
222 2010-08-11                  Greece      1          0    12        13
223 2010-08-11                 Croatia      1          1    14        27
224 2010-08-11               Australia      0          2    20        19
225 2010-08-11                   Ghana      0          1    23        66
226 2010-08-11                Scotland      0          3    41        35
227 2010-08-11                   Kenya      1          1   116       111
228 2010-08-11               Singapore      0          1   120       104
229 2010-08-11                 Jamaica      3          1    82        76
230 2010-08-11                 Romania      0          2    42        28
231 2010-08-11                  Zambia      1          1    72        69
232 2010-08-11             Netherlands      1          1     2        24
233 2010-08-11              Luxembourg      1          5   117        84
234 2010-09-15                 Namibia      0          2   116       160
235 2010-11-17                  Brazil      0          1     3         5
236 2010-11-17                  Greece      2          1    11        49
237 2010-11-17                 Tunisia      0          1    44        67
238 2010-11-17                  Serbia      1          0    25        45
239 2010-11-17                  Guinea      1          2    47        41
240 2010-11-17                 Uruguay      0          2     7        16
241 2010-11-17                  Latvia      0          1    73        89
242 2010-11-17                    Peru      1          1    52        47
243 2010-11-17                   Malta      0          3   169         9
244 2010-11-17          Czech Republic      0          0    31        27
245 2010-11-17               Venezuela      1          4    56        61
246 2010-11-17               Australia      0          3    20        10
247 2010-11-17                  France      2          1    21         6
248 2010-11-17           Liechtenstein      1          1   158        74
249 2010-11-17                 Senegal      2          1    75        37
250 2010-11-17                  Guyana      0          3    86       126
251 2010-11-17                Paraguay      7          0    23       145
252 2010-11-17               Lithuania      0          2    46        43
253 2010-11-17                  Kuwait      1          1   105        99
254 2010-11-17                  Norway      2          1    12        32
255 2010-11-17                 Iceland      2          3   110        55
256 2010-11-17                 Romania      1          1    52        14
257 2010-11-17              Costa Rica      0          0    63        82
258 2010-11-17                   Niger      1          1   102        81
259 2010-11-17                 Algeria      0          0    34       133
260 2010-11-17                  Rwanda      1          2   127        77
261 2010-11-17              Azerbaijan      0          2    90        26
262 2010-11-17                Zimbabwe      3          1   117        98
263 2010-11-17                  Turkey      0          1    29         2
264 2010-11-17                 Morocco      1          1    80        42
265 2010-11-17                 Belarus      4          0    40        97
266 2010-11-17                Honduras      0          2    57        64
267 2010-11-17                   Spain      0          4     1         8
268 2010-11-17                 Belgium      2          0    62        13
269 2010-11-17                   Ghana      0          0    17        68
270 2010-11-17  Bosnia and Herzegovina      3          2    51        18
271 2010-11-17                 Georgia      2          1    78        15

In [42]:
home_team_stats = full_df.iloc[:int(full_df.shape[0]/2),:]
away_team_stats = full_df.iloc[int(full_df.shape[0]/2):,:]

In [43]:
home_team_stats = home_team_stats[home_team_stats.columns[-12:]]
away_team_stats = away_team_stats[away_team_stats.columns[-12:]]

In [45]:
home_team_stats.columns = ['home_'+str(col) for col in home_team_stats.columns]
away_team_stats.columns = ['away_'+str(col) for col in away_team_stats.columns]

In [46]:
match_stats = pd.concat([home_team_stats, away_team_stats.reset_index(drop=True)], axis=1, ignore_index=False)
full_df = pd.concat([df, match_stats.reset_index(drop=True)], axis=1, ignore_index=False)
full_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_points_home,...,away_away_goals_suf_mean,away_away_goals_suf_mean_l5,away_away_rank_mean,away_away_rank_mean_l5,away_away_points_mean,away_away_points_mean_l5,away_away_game_points_mean,away_away_game_points_mean_l5,away_away_game_points_rank_mean,away_away_game_points_rank_mean_l5
0,2010-08-11,Albania,Uzbekistan,1,0,Friendly,Durrës,Albania,False,455.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,2010-08-11,Algeria,Gabon,1,2,Friendly,Algiers,Algeria,False,759.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2010-08-11,Angola,Uruguay,0,2,Friendly,Lisbon,Portugal,True,357.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,2010-08-11,Armenia,Iran,1,3,Friendly,Yerevan,Armenia,False,318.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,2010-08-11,Austria,Switzerland,0,1,Friendly,Klagenfurt,Austria,False,536.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [47]:
full_df["tournament"]

0                   Friendly
1                   Friendly
2                   Friendly
3                   Friendly
4                   Friendly
               ...
182                 Friendly
183                 Friendly
184             Copa América
185                 Friendly
186    Mahinda Rajapaksa Cup
Name: tournament, Length: 187, dtype: object

In [48]:
def find_friendly(x):
    if x == "Friendly":
        return 1
    else: return 0

full_df["is_friendly"] = full_df["tournament"].apply(lambda x: find_friendly(x))
full_df = pd.get_dummies(full_df, columns=["is_friendly"])

In [ ]:
base_df = full_df[["date", "home_team", "away_team", "rank_home", "rank_away","home_score", "away_score","result", "rank_dif", "rank_change_home", "rank_change_away", 'home_goals_mean',
       'home_goals_mean_l5', 'home_goals_suf_mean', 'home_goals_suf_mean_l5',
       'home_rank_mean', 'home_rank_mean_l5', 'home_points_mean',
       'home_points_mean_l5', 'away_goals_mean', 'away_goals_mean_l5',
       'away_goals_suf_mean', 'away_goals_suf_mean_l5', 'away_rank_mean',
       'away_rank_mean_l5', 'away_points_mean', 'away_points_mean_l5','home_game_points_mean', 'home_game_points_mean_l5','home_game_points_rank_mean', 'home_game_points_rank_mean_l5','away_game_points_mean',
       'away_game_points_mean_l5', 'away_game_points_rank_mean',
       'away_game_points_rank_mean_l5',
       'is_friendly_0', 'is_friendly_1']]

base_df.tail()

In [41]:
df = base_df.copy()

In [42]:
def no_draw(x):
    if x == 2:
        return 1
    else:
        return x
    
df["target"] = df["result"].apply(lambda x: no_draw(x))
df.head()

,date,home_team,away_team,rank_home,rank_away,home_score,away_score,result,rank_dif,rank_change_home,...,home_game_points_mean_l5,home_game_points_rank_mean,home_game_points_rank_mean_l5,away_game_points_mean,away_game_points_mean_l5,away_game_points_rank_mean,away_game_points_rank_mean_l5,is_friendly_0,is_friendly_1,target
0,2010-08-11,Albania,Uzbekistan,70,88,1,0,0,-18,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
1,2010-08-11,Algeria,Gabon,33,34,1,2,1,-1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1
2,2010-08-11,Angola,Uruguay,87,6,0,2,1,81,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1
3,2010-08-11,Armenia,Iran,96,65,1,3,1,31,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1
4,2010-08-11,Austria,Switzerland,60,17,0,1,1,43,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1

In [43]:
dif = df.copy()
dif.loc[:, "goals_dif"] = dif["home_goals_mean"] - dif["away_goals_mean"]
dif.loc[:, "goals_dif_l5"] = dif["home_goals_mean_l5"] - dif["away_goals_mean_l5"]
dif.loc[:, "goals_suf_dif"] = dif["home_goals_suf_mean"] - dif["away_goals_suf_mean"]
dif.loc[:, "goals_suf_dif_l5"] = dif["home_goals_suf_mean_l5"] - dif["away_goals_suf_mean_l5"]
dif.loc[:, "goals_made_suf_dif"] = dif["home_goals_mean"] - dif["away_goals_suf_mean"]
dif.loc[:, "goals_made_suf_dif_l5"] = dif["home_goals_mean_l5"] - dif["away_goals_suf_mean_l5"]
dif.loc[:, "goals_suf_made_dif"] = dif["home_goals_suf_mean"] - dif["away_goals_mean"]
dif.loc[:, "goals_suf_made_dif_l5"] = dif["home_goals_suf_mean_l5"] - dif["away_goals_mean_l5"]
dif.loc[:, "dif_points"] = dif["home_game_points_mean"] - dif["away_game_points_mean"]
dif.loc[:, "dif_points_l5"] = dif["home_game_points_mean_l5"] - dif["away_game_points_mean_l5"]
dif.loc[:, "dif_points_rank"] = dif["home_game_points_rank_mean"] - dif["away_game_points_rank_mean"]
dif.loc[:, "dif_points_rank_l5"] = dif["home_game_points_rank_mean_l5"] - dif["away_game_points_rank_mean_l5"]
dif.loc[:, "dif_rank_agst"] = dif["home_rank_mean"] - dif["away_rank_mean"]
dif.loc[:, "dif_rank_agst_l5"] = dif["home_rank_mean_l5"] - dif["away_rank_mean_l5"]
dif.loc[:, "goals_per_ranking_dif"] = (dif["home_goals_mean"] / dif["home_rank_mean"]) - (dif["away_goals_mean"] / dif["away_rank_mean"])
dif.loc[:, "goals_per_ranking_suf_dif"] = (dif["home_goals_suf_mean"] / dif["home_rank_mean"]) - (dif["away_goals_suf_mean"] / dif["away_rank_mean"])
dif.loc[:, "goals_per_ranking_dif_l5"] = (dif["home_goals_mean_l5"] / dif["home_rank_mean"]) - (dif["away_goals_mean_l5"] / dif["away_rank_mean"])
dif.loc[:, "goals_per_ranking_suf_dif_l5"] = (dif["home_goals_suf_mean_l5"] / dif["home_rank_mean"]) - (dif["away_goals_suf_mean_l5"] / dif["away_rank_mean"])

In [44]:
def create_db(df):
    columns = ["home_team", "away_team", "target", "rank_dif", "home_goals_mean", "home_rank_mean", "away_goals_mean", "away_rank_mean", "home_rank_mean_l5", "away_rank_mean_l5", "home_goals_suf_mean", "away_goals_suf_mean", "home_goals_mean_l5", "away_goals_mean_l5", "home_goals_suf_mean_l5", "away_goals_suf_mean_l5", "home_game_points_rank_mean", "home_game_points_rank_mean_l5", "away_game_points_rank_mean", "away_game_points_rank_mean_l5","is_friendly_0", "is_friendly_1"]
    
    base = df.loc[:, columns]
    base.loc[:, "goals_dif"] = base["home_goals_mean"] - base["away_goals_mean"]
    base.loc[:, "goals_dif_l5"] = base["home_goals_mean_l5"] - base["away_goals_mean_l5"]
    base.loc[:, "goals_suf_dif"] = base["home_goals_suf_mean"] - base["away_goals_suf_mean"]
    base.loc[:, "goals_suf_dif_l5"] = base["home_goals_suf_mean_l5"] - base["away_goals_suf_mean_l5"]
    base.loc[:, "goals_per_ranking_dif"] = (base["home_goals_mean"] / base["home_rank_mean"]) - (base["away_goals_mean"] / base["away_rank_mean"])
    base.loc[:, "dif_rank_agst"] = base["home_rank_mean"] - base["away_rank_mean"]
    base.loc[:, "dif_rank_agst_l5"] = base["home_rank_mean_l5"] - base["away_rank_mean_l5"]
    base.loc[:, "dif_points_rank"] = base["home_game_points_rank_mean"] - base["away_game_points_rank_mean"]
    base.loc[:, "dif_points_rank_l5"] = base["home_game_points_rank_mean_l5"] - base["away_game_points_rank_mean_l5"]
    model_df = base[["home_team", "away_team", "target", "rank_dif", "goals_dif", "goals_dif_l5", "goals_suf_dif", "goals_suf_dif_l5", "goals_per_ranking_dif", "dif_rank_agst", "dif_rank_agst_l5", "dif_points_rank", "dif_points_rank_l5", "is_friendly_0", "is_friendly_1"]]
    return model_df

In [45]:
model_db = create_db(df)
model_db

,home_team,away_team,target,rank_dif,goals_dif,goals_dif_l5,goals_suf_dif,goals_suf_dif_l5,goals_per_ranking_dif,dif_rank_agst,dif_rank_agst_l5,dif_points_rank,dif_points_rank_l5,is_friendly_0,is_friendly_1
0,Albania,Uzbekistan,0,-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
1,Algeria,Gabon,1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
2,Angola,Uruguay,1,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
3,Armenia,Iran,1,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
4,Austria,Switzerland,1,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Cameroon,Mali,1,-11,3.00,3.00,-2.000000,-2.000000,0.053571,-46.000000,-46.000000,0.053571,0.053571,0,1
183,Madagascar,Mauritania,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
184,Brazil,Bolivia,0,-59,-0.50,-0.50,0.500000,0.500000,-0.010753,-41.500000,-41.500000,-0.022661,-0.022661,1,0
185,Turkey,Azerbaijan,0,-81,0.25,0.25,-0.333333,-0.333333,0.008034,-7.583333,-7.583333,-0.002214,-0.002214,0,1
186,Sri Lanka,Seychelles,1,7,1.00,1.00,-1.000000,-1.000000,0.006289,127.000000,127.000000,0.006289,0.006289,1,0

In [46]:
model_db= model_db.dropna()

# MODEL GRADIENT BOOSTING

In [47]:
X = model_db.iloc[:, 3:]
y = model_db[["target"]]

In [49]:

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=1)
gb = GradientBoostingClassifier(random_state=5)

params = {"learning_rate": [0.01, 0.1, 0.5],
            "min_samples_split": [5, 10],
            "min_samples_leaf": [3, 5],
            "max_depth":[3,5,10],
            "max_features":["sqrt"],
            "n_estimators":[100, 200]
         } 

gb_cv = GridSearchCV(gb, params, cv = 3, n_jobs = -1, verbose = False)

gb_cv.fit(X_train.values, np.ravel(y_train))

GridSearchCV(cv=3, estimator=GradientBoostingClassifier(random_state=5),
             n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.1, 0.5],
                         'max_depth': [3, 5, 10], 'max_features': ['sqrt'],
                         'min_samples_leaf': [3, 5],
                         'min_samples_split': [5, 10],
                         'n_estimators': [100, 200]},
             verbose=False)

In [50]:
gb = gb_cv.best_estimator_
gb

GradientBoostingClassifier(max_features='sqrt', min_samples_leaf=3,
                           min_samples_split=5, random_state=5)

In [51]:
y_pred = gb.predict(X_test)

### ACCURACY du modèle est égale a 0.63 c'est 63% donc on peut dire que ce modèle est bien approprié

In [52]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9444444444444444

In [53]:
def find_features(team_1, team_2):
    rank_dif = team_1[0] - team_2[0]
    goals_dif = team_1[1] - team_2[1]
    goals_dif_l5 = team_1[2] - team_2[2]
    goals_suf_dif = team_1[3] - team_2[3]
    goals_suf_dif_l5 = team_1[4] - team_2[4]
    goals_per_ranking_dif = (team_1[1]/team_1[5]) - (team_2[1]/team_2[5])
    dif_rank_agst = team_1[5] - team_2[5]
    dif_rank_agst_l5 = team_1[6] - team_2[6]
    dif_gp_rank = team_1[7] - team_2[7]
    dif_gp_rank_l5 = team_1[8] - team_2[8]
    
    return [rank_dif, goals_dif, goals_dif_l5, goals_suf_dif, goals_suf_dif_l5, goals_per_ranking_dif, dif_rank_agst, dif_rank_agst_l5, dif_gp_rank, dif_gp_rank_l5, 1, 0]

In [54]:
def find_stats(team_1):
#team_1 = "Qatar"
    past_games = team_stats_raw[(team_stats_raw["team"] == team_1)].sort_values("date")
    last5 = team_stats_raw[(team_stats_raw["team"] == team_1)].sort_values("date").tail(5)

    team_1_rank = past_games["rank"].values[-1]
    team_1_goals = past_games.score.mean()
    team_1_goals_l5 = last5.score.mean()
    team_1_goals_suf = past_games.suf_score.mean()
    team_1_goals_suf_l5 = last5.suf_score.mean()
    team_1_rank_suf = past_games.rank_suf.mean()
    team_1_rank_suf_l5 = last5.rank_suf.mean()
    team_1_gp_rank = past_games.points_by_rank.mean()
    team_1_gp_rank_l5 = last5.points_by_rank.mean()

    return [team_1_rank, team_1_goals, team_1_goals_l5, team_1_goals_suf, team_1_goals_suf_l5, team_1_rank_suf, team_1_rank_suf_l5, team_1_gp_rank, team_1_gp_rank_l5]

In [56]:
matches = [('Argentina','Croatia'),('France','Morocco')]
final=[]
for teams in matches:
    draw = False
    team_1 = find_stats(teams[0])
    team_2 = find_stats(teams[1])

    

    features_g1 = find_features(team_1, team_2)
    features_g2 = find_features(team_2, team_1)

    probs_g1 = gb.predict_proba([features_g1])
    probs_g2 = gb.predict_proba([features_g2])
    
    team_1_prob_g1 = probs_g1[0][0]
    team_1_prob_g2 = probs_g2[0][1]
    team_2_prob_g1 = probs_g1[0][1]
    team_2_prob_g2 = probs_g2[0][0]

    team_1_prob = (probs_g1[0][0] + probs_g2[0][1])/2
    team_2_prob = (probs_g2[0][0] + probs_g1[0][1])/2
    
    
                
    if team_1_prob > team_2_prob:
        winner = teams[0]
        winner_proba = team_1_prob
        final.append(winner)
        print('The Winner is '+teams[0]+'with probability equal to '+str(winner_proba)+', and it has qualified to THE FINAL')
        print("                                                                                                            ")        
    elif team_2_prob > team_1_prob:  
        winner = teams[2]
        winner_proba = team_2_prob
        final.append(winner)
        print('The Winner is '+teams[1]+ 'with probability equal to '+str(winner_proba)+', and it has qualified to THE FINAL')
        
print(final)   
team_1 = find_stats(final[0])
team_2 = find_stats(final[1])

    

features_g1 = find_features(team_1, team_2)
features_g2 = find_features(team_2, team_1)

probs_g1 = gb.predict_proba([features_g1])
probs_g2 = gb.predict_proba([features_g2])
    
team_1_prob_g1 = probs_g1[0][0]
team_1_prob_g2 = probs_g2[0][1]
team_2_prob_g1 = probs_g1[0][1]
team_2_prob_g2 = probs_g2[0][0]

team_1_prob = (probs_g1[0][0] + probs_g2[0][1])/2
team_2_prob = (probs_g2[0][0] + probs_g1[0][1])/2

if team_1_prob > team_2_prob:
        winner = teams[0]
        winner_proba = team_1_prob
      
        print('The World Cup champion is '+final[0]+'with probability equal to '+str(winner_proba))
elif team_2_prob > team_1_prob:  
        winner = teams[2]
        winner_proba = team_2_prob
        print('The World Cup champion is '+final[0]+'with probability equal to '+str(winner_proba))

The Winner is Argentinawith probability equal to 0.7478300917678178, and it has qualified to THE FINAL

The Winner is Francewith probability equal to 0.557375716926156, and it has qualified to THE FINAL

['Argentina', 'France']
The World Cup champion is Argentinawith probability equal to 0.555126289160202